body{
    margin: 0;
}
.gba-font{
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-weight: bold;
    margin: 0%;
}
.g{
    color: rgb(32, 201, 41);
    text-shadow: 1px 1px 1px rgba(211, 255, 211, 0.3),
    -1px -1px 1.2px rgba(10, 10, 10, 0.07);
}
.b{
    text-shadow: 1px 1px 1px rgb(255 255 255 / 30%),
    -1px -1px 1.2px rgb(1 1 1 / 30%);
    color: rgb(32, 32, 32);
}
.w{
    color: white;
}
#font-size-s{
    font-size: x-small;
}
/* INICIO head */
#head{
    height: 10vh;
    background-color: red;
    display: flex;
    align-items: center;
}
#logo{
    height: 4vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
}
#nintendo{
    color: white;
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    border: 3px solid white;
    border-radius: 20px;
}
/* FIN head */

/* INICIO cuerpo de la web*/
/* colocación carcasa */
#cuerpo{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* tamaño carcasa */
#size-gbc{
    height: 500px;
    width: 300px;
    border-radius: 20px 20px 49% 49% / 20px 20px 6.5% 6.5%;
    position: absolute;
    background-image: radial-gradient( rgb(39, 148, 44)0% 10%, rgb(40, 250, 50));
}

/* relieve carcasa */
#relieve{
    height: 500px;
    width: 210px;
    align-items: flex-start;
    position: absolute; 
}
#resaltado{
    height: 90%;
    background-color: rgb(40, 250, 50);
    border-radius: 0px 0px 49% 49% / 0% 0% 6.5% 6.5%;
}
#borde-inf{
    height: 10%;
    background-color: transparent;
}

/* INICIO elementos carcasa  */
#elements{
    height: 500px;
    width: 300px;
    position: absolute;
    background-color: transparent;
}
/* comm */
#comm{
    height: 4%;
    display: flex;
    font-size: smaller;
    align-items: center;
}
#infrared{
    width: 20%;
    height: 100%;
    text-align: right;
    display: flex;
}
#ir-empty{
    width: 80%;
}
#ir-triangle-cont{
    color: transparent;
    width: 20%;
    display: flex;
    align-items: center;

}
#ir-triangle{
    width: 0;
    height: 0;
    border-bottom: 10px outset rgb(32, 201, 41);
    border-left: 5px outset transparent;
    border-right: 5px outset transparent;
}
/* screen  */
#screen{
    height: 46%;
    display: flex;
}
.margin-scr{
    width: 6%;
}
#screen-blck{
    width: 94%;
    border: inset rgb(40, 250, 50);
    border-radius: 5px 5px 49% 49% / 5px 5px 6.5% 6.5%;
    background-color: black;
}
#t-scrn{
    height: 15%;
}
#m-scrn{
    height: 60%;
    display: flex;
    justify-content: center;
}
#b-scrn{
    height: 25%;
}
.margin-m-scrn{
    width: 20%;
}
#t-margin-scrn{
    height: 20%;
    background-color: transparent;
}
#light-pwr{
    height: 10%;
    display: flex;
}
#light-pwr-l{
    width: 30%;
}
#led{
    height: 100%;
    display: block;
    border: 2px inset rgb(121, 6, 6);
    border-radius: 50% / 50%;
    background-image: radial-gradient(rgb(255, 0, 0), rgb(165, 5, 5), rgb(82, 4, 4));
}
#light-pwr-r{
    width: 70%;
    text-align: center;
}
#txt-pwr{
    height: 70%;
}
#main-m-scrn{
    width: 80%;
    background-color: rgb(116, 150, 123);
}

/* logo central */
#logo-2{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nintendo2{
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    border: 3px inset rgb(32, 201, 41);
    border-radius: 20px;
}
/* pad de controles */
#control-pad{
    height: 15%;
    width: 100%;
    display: flex;
}
/* pad de movimiento  */
#pad-mov{
    width: 50%;
}
#pad-arrows{
    width: 52%;
    height: 100%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#t-b{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
#l-r{
    grid-column: 1/ 4;
    grid-row: 2 / 3;
}
.arr-mv{
    background-color: black;
    color: white;
}
/* botones A y B  */
#AB-bttn{
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 8%;
}
#B-bttn{
    width: 25%;
    margin-right: 15%;
    margin-top: 20%;
}
#A-bttn{
    width: 25%;
    margin-top: 10%;
}
.bttn{
    height: 45%;
    display: flex;
    align-items: center;
    color: rgb(66, 66, 66);
    background: radial-gradient( at 90% 60%, black, rgb(87, 86, 86) 70%, rgb(90, 89, 89) 70%);
    justify-content: center;    
    border: 3px outset rgb(63, 62, 62);
    border-radius: 50%;
}
.btnn-font{
    font-size: 170%;
    font-stretch:wider;
    padding-right: 25%;
}

/* botones de select start y altavoces */
#bottom-side{
    height: 20%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

/* curva de abajo */


/* FIN cuerpo de la web */
/* INICIO info */
#info{
    height: 5vh;
    background-color: red;
}
/* FIN info */