body{
    margin: 0;
}
div{
    display: block;
}
.gba-font-g{
    color: rgb(32, 201, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-weight: bold;

}
.gba-font-b{
    color: rgb(60, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-weight: bold;
}
.bttn-txt-center{
    font-size:x-small;
    display: flex;
    justify-content: center;
}

/* INICIO head */
#head{
    height: 10vh;
    background-color: red;
    display: flex;
    align-items: center;
}
#logo{
    height: 4vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
}
#nintendo{
    color: white;
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    border: 3px solid white;
    border-radius: 20px;
}
.trademark{
    font-size: xx-small;
}
/* FIN head */

/* INICIO cuerpo de la web*/
/* colocación carcasa */
#cuerpo{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* tamaño carcasa */
#size-gbc{
    height: 500px;
    width: 300px;
    background-color: rgb(40, 250, 50);
    color: rgb(5, 5, 5);
}
/* comm */
#comm{
    height: 4%;
    display: flex;
    font-size: smaller;
    align-items: center;
}

#infrared{
    width: 20%;
    background-color: aquamarine;
}
/* screen  */
#screen{
    height: 46%;
    display: flex;
}
.margin-scr{
    width: 6%;
}
#screen-blck{
    width: 94%;
    background-color: black;
}
/* logo central */
#logo-2{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nintendo2{
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 2px;
    text-transform: capitalize;
    font-weight: bold;
    border: 3px inset rgb(32, 201, 41);
    border-radius: 20px;
}
/* pad de controles */
#control-pad{
    height: 15%;
    width: 100%;
    display: flex;
}
/* pad de movimiento  */
#pad-mov{
    width: 50%;
}
#pad-arrows{
    width: 52%;
    height: 100%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#t-b{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
#l-r{
    grid-column: 1/ 4;
    grid-row: 2 / 3;
}
.arr-mv{
    background-color: black;
    color: white;
}
/* botones A y B  */
#AB-bttn{
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 8%;
}
#B-bttn{
    width: 25%;
    margin-right: 15%;
    margin-top: 20%;
}
#A-bttn{
    width: 25%;
    margin-top: 10%;
}
.bttn{
    height: 45%;
    display: flex;
    align-items: center;
    color: rgb(66, 66, 66);
    background: radial-gradient( at 10% 30%, black, rgb(87, 86, 86) 70%, rgb(90, 89, 89) 70%);
    justify-content: center;    
    border: 3px outset rgb(63, 62, 62);
    border-radius: 50%;
}
.btnn-font{
    font-size: 170%;
    font-stretch:wider;
    padding-right: 25%;
}

/* botones de select start y altavoces */
#bottom-side{
    height: 25%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
}


/* FIN cuerpo de la web */
/* INICIO info */
#info{
    height: 5vh;
    background-color: red;
}
/* FIN info */