body{
    margin: 0;
}
div{
    display: block;
}

/* INICIO head */
#head{
    height: 10vh;
    background-color: red;
}
#logo{
    display: flex;
    padding-left: 10vw;
    box-sizing: content-box;
}
.nintendo-b{
    color: white;
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    border: 3px solid white;
    border-radius: 20px;
}
.trademark{
    font-size: xx-small;
}
/* FIN head */

/* INICIO cuerpo de la web*/
/* colocación carcasa */
#cuerpo{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* tamaño carcasa */
#size-gbc{
    height: 500px;
    width: 300px;
    background-color: rgb(40, 250, 50);
    color: rgb(5, 5, 5);
}
/* comm */
#comm{
    height: 4%;
    display: flex;
}
#infrared{
    width: 20%;
    background-color: aquamarine;
}
/* screen  */
#screen{
    height: 46%;
    display: flex;
}
.margin-scr{
    width: 6%;
}
#screen-blck{
    width: 94%;
    background-color: black;
}
/* logo central */
#logo-2{
    height: 10%;
}
/* pad de controles */
#control-pad{
    height: 15%;
    display: flex;
    justify-content: center;
}
/* pad de movimiento  */
#pad-mov{
    width: 42%;
    display: flex;
    justify-content: left;
}
#pad-arrows{
    width: 60%;
    background-color: black;
}
/* botones A y B  */
#AB-bttn{
    width: 42%;
    color: grey;
    display: flex;
    justify-content: right;
}
#B-bttn{
    width: 25%;
    padding-top: 25%;
    margin-right: 10%;
    background-color: rgb(255, 0, 0);
    text-align: center;

}
#A-bttn{
    width: 25%;
    padding-top: 15%;
    background-color: black;
    text-align: center;

}
/* botones de select start y altavoces */
#menu-buttons{
    height: 25%;
}

/* FIN cuerpo de la web */
/* INICIO info */
#info{
    height: 5vh;
    background-color: red;
}
/* FIN info */